
name: Deploy Nurax-dev with Capistrano
on:
  workflow_dispatch:
  repository_dispatch:
  schedule:
    - cron: '41 10,17 * * 1-5'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.4
        bundler-cache: true
    - uses: miloserdow/capistrano-deploy@master
      with:
        target: nurax-dev
        deploy_key: ${{ secrets.DEPLOY_ENC_KEY }}
